<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/libs/ext-6.2.0/build/classic/theme-neptune/resources/theme-neptune-all.css" />
    <link rel="stylesheet" href="~/libs/font-awesome-5.13.0/css/all.min.css" />
    <script src="~/libs/ext-6.2.0/build/ext-all.js"></script>

</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>
